@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4fb;
}

.button-4 {
  appearance: none;
  background-color: red;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-4:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-4:hover {
  background-color: #2c974b;
}

.button-4:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-4:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.navbarr {
    display: flex;
    position: fixed; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding-left: 6rem;
}

.profile {
    display: flex;
    width: 32%;
    max-width: 200px;
    justify-content: space-around;
    align-items: center;
}

.dropdown-itemm {
    margin-right: 21px;
    text-decoration: none;
    color: black;
}

.profile a {
    text-decoration: none;
    color: black;
}

.profile-name {
    position: absolute;
    font-size: 0.9rem;
    margin-left: -70px;
}

.side-togglee {
    position: fixed;
    z-index: 2;
    top: 12px;
    left: 25px;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.sidebarr {
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    color: #fff;
    background-color: #2d2b98;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebarr a {
    text-decoration: none;
    color: white;
}

.sidebarr-menu {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebarr-menu span {
    font-size: 22px;
    padding-right: 20px;
    display: flex;
}

.fa-user {
    font-size: 13px;
}

.admin {
    margin-left: -3px;
}

.sidebarr-menu:hover {
    color: #2d2b98;
    background-color: #f8f8fb;
}

#toggle:checked ~ .sidebarr {
    width: 70px;
}

#toggle:checked ~ .sidebarr .sidebarr-menu p {
    display: none;
}

#toggle:checked ~ main {
    padding: 6rem 2rem 2rem 6rem;
}

/* ........................ */
main {
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color: #201f2b;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
        "total1 total2 total3"
        "detail detail detail"
        "detail detail detail";
}

.cardd {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.total1 {
    grid-area: 'total1';
    background-color: #2d972e;
    color: #fff;
}   

.infoo i {
    font-size: 45px;
}

.infoo p {
    font-size: 35px;
}

.total2 {
    grid-area: 'total2';
    background-color: #ffa705;
    color: #fff;
}

.total3 {
    grid-area: 'total3';
    background-color: #9132bd;
    color: #fff;
}
.detail {
    grid-area: 'detail';
    width: 309%;
    overflow-x: auto;
}

.detail-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.detail-header button {
    height: 45px;
    width: 100px;
    border: 1px solid #2d2b98;
    background-color: #2d2b98;
    color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.detail-header button:hover {
    background-color: transparent;
    color: #2d2b98;
}

.detail table {
    width: 100%;
    border-collapse: collapse;
}

.detail table tr:nth-child(odd) {
    background-color: #f8f8fb;
}

.detail table th {
    background-color: #f4f4fb;
}

.detail table th,
.detail table td {
    padding: 0.8rem 0.2rem;
    text-align: left;
    min-width: 120px;
    font-size: 14px;
}

form .form-control {
    width: 88%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
}

form .btn {
    margin-left: 40%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: #27a327;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    transition: .3s;
}

form .btn:hover {
    opacity: .7;
}

@media screen and (max-width: 980px) {
    .dashboard-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "total1 total2"
            "total3"
            "detail detail";
    }

    .detail {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .profile-name {
        display: none;
    }
    .sidebarr {
        display: none;
    }
    main {
        padding: 6rem 2rem 2rem 2rem;
    }

    .detail {
        width: 100%;
    }

    #toggle:checked ~ .sidebarr {
        width: 200px;
        display: block;
    }

    #toggle:checked ~ .sidebarr .sidebarr-menu > p {
        display: block;
    }

    #toggle:checked ~ main {
        padding: 6rem 2rem 2rem 2rem;
    }
    
    .dashboard-container {
        grid-template-columns:  1fr;
        grid-template-areas: 
        "total1"
        "total2"
        "total3"
        "detail";
    }
    
    .detail table {
        font-size: 0.9rem;
    }
}
